{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet">
    
    

</head>
<body>
    

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DASHBOARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
         
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product' %}">Add Product</a>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order'%}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
        
        <span> <h5>Hellow, {{request.user}} </h5></span>
      
    <span><a href="{% url 'logout'%}" style="color:yellow">Logout</a></span>
       
      
    </div>
  </nav>
</body>
</html>






{% block content %}

{% endblock content %}

<body>
   
    <form>
       <h1>TELL</h1>
        <div>
        <h1>0769565800</h1>
        <h1>0702418632</h1>
        <h1>0720061831</h1>
        <h1>0112825524</h1>
    </form>
      


<h4> WE ARE LOCATED NEAR TUSKYS SUPERMARKET IN KAKAMEGA</h4>
   
</div>

<p>Created by Sufiani</p>
</body>
 
