{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    {% block content %}
</body>
      
   
<center>
   
<hi>Make Your orders here</hi>
<hr>
      <form action=""method=POST>
          {% csrf_token %}
          {{form.errors}}
          {{form.as_p}}
          <input type="submit" value="
          Submit" class="btn btn-secondary
          ">
      </form>

</center>
</body>
</html>
  {% endblock content %}  
</body>
</html>